@import "./../../variables.scss";

.User {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 300px;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid rgba($color-gray, .3);
  padding: $space-base * 5 $space-base * 2;
  border-radius: 2px;
  box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.1);

  &.UserHidden {
    display: none;
  }
}

.UserTitle {
  margin-bottom: $space-base * 2;
  font-size: 20px;
}

.UserName {
  display: block;
  padding: $space-base * 1.5;
  border: 1px solid $color-gray;
  width: 100%;
}

.UserReturn {
  display: block;
  font-size: 14px;
  margin: $space-base / 2 0;
  color: $color-danger;
  font-weight: 500;
}

.BtnGitubInfos {
  display: block;
  width: 100%;
  padding: $space-base * 1.5;
  border: none;
  background: $color-text;
  color: $color-bg; 
  border-radius: 2px;
  transition: .2s;
  cursor: pointer;

  &:hover,
  &:focus {
    background: darken($color-text, 10%);
  }
}