@import "./../../variables.scss";

.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    max-width: $container-width;
    z-index: 10;
    background: $color-bg;
    box-shadow: 0 0 0 100vw rgba(0,0,0,.4);
    transform: translateY(-50%) translateX(-50%);
    height: 90vh;

    &:not( .isOpen ) {
        display: none;
    }
}

.CloseButton {
    position: absolute;
    top: $space-base;
    right: $space-base;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: $space-base / 2 $space-base;
}