// Colors
// ----------------------

$color-bg                   : #ffffff;
$color-gray                 : #e5e5e5;
$color-text                 : #424242;


// Sizes
// ----------------------
$space-base                 : 10px;
$header-repository-height   : 180px;


// Container
// ----------------------
$container-width            : 960px;