@import "./../../variables.scss";

.Commits {
    height: 100%;
    text-align: left;
}

.Header {
    height: #{$header-repository-height};
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 $space-base * 3;
    border-bottom: 1px solid $color-gray;
}

.HeaderDescription {
    width: 100%;
    display: inline-block;
    margin-bottom: $space-base;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    overflow: hidden;
}

.SearchBox {
    width: 100%;
    outline: none;
    padding: $space-base;
    border: 1px solid $color-gray;
}

.List {
    height: calc( 100% - #{$header-repository-height} );
    overflow: auto;
}

.CommitList {
    list-style: none;
    padding: $space-base * 2 $space-base * 3;
}

.CommitItem {
    &:not(:last-child) {
        margin-bottom: $space-base * 2;
    }
}

.CommitMessage {
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    margin: 0;
}

.CommitDetails {
    font-size: 12px;
    margin: 0;

    p {
        margin: 0;
    }
}

.CommitDetailItem {
    display: inline-block;
    min-width: 40px;
    font-weight: 600;
}